# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.db
*.sqlite3

# Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Temporary
*.tmp
*.bak

# Models
models/

# Jupyter
.ipynb_checkpoints/